*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  

}

.navbar{
  background-color: grey;
  color: white;
  border-bottom:0.5px solid gray;
  width:100%;
  line-height: 75px;
  font-size: 14px;
  position:fixed;
  top: 0;
  left: 0;
  font-family: 'Montserrat';
  /* z-index: 500; */
  
  
  
}

.navbar a {
  text-decoration: none;
  color: white;
  

}

.navbar a.nav-logo{
  float: left;
  padding: 0 3vw;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-family:"Montserrat";
  letter-spacing: 2px;
  cursor: pointer;
  

}

.navbar ul {

  float:right;
  padding:0 3vw;
  

}

.navbar ul li {
  display:inline-block;
}

.navbar ul li a{
  display: block;
  text-align: center;
  min-width: 100px;
 

}

.navbar ul li a:hover{

  background-color: black;
}

body{
  
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  opacity: 100;
  margin: 0% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  position: relative;
  
 

  
  
}




.content{
  
  margin-top: 10%;
  font-family: "Montserrat";
  color: black;
  /* position: relative; */
  text-align: left;
  font-weight: bold;
  width:  200%;
  flex:1

}
  


h2{
  font-size: 50px;
  text-align:center;
  font-weight: bold;
  /* margin-top: 5%; */
  /* width: 200%; */
  /* margin-top: 5%; */
}


h3{
  font-weight: bold;
  font-size: 150%;
  text-decoration: underline;

  
}

.content li{
  list-style-position: inside;
  /* padding-left: 0; */
}

p{
  margin-top: 21px;
  color: black;

}

main{ 
  display:grid;
  grid-template-columns: 1fr 1fr;
  }

.btns{
    /* margin-top: 20%; */
    background-color: gray;
    cursor: pointer;
    color: whitesmoke;
    /* padding: 12px 20px; */
    float: left;
    border: 0px;
    /* border-radius: 20px; */
    /* margin-left: 10px; */
    font-family: "Montserrat";

  }

  .btns:hover{
    background-color: black;

  }



hr{
  width: 75%;
  margin: auto;

}

footer{
  width: 100%;
  left: 0px; 
  right: 0px;
  text-align: center;
  bottom: 0;
  margin-top: auto;
  position: relative;
  
}
 
  



.github{
  cursor: pointer;
  color:whitesmoke;
  margin-top: 20px;
  border: 0px;
  
  
  
}

.github:hover{
  background-color:black;
}



.twitter{
  cursor: pointer;
  color:black;
  text-align: center;
  margin-top: 20px;
  border: 0px;
  margin-right: 5em;
  margin-left: 5em;

}

.stack{
  cursor: pointer;
  color:black;
  margin-top: 20px;
  border: 0px;
 


}

.twitter:hover{
  background-color:black;
}

.stack:hover{
  background-color:black;
}



@media (max-width: 400px) {
  .navbar {
    font-size: 12px; 
    display: inline;
  }
  .navbar a.nav-logo {
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0 2vw;

  }
  .navbar ul {
  padding:0 1vw;
}
.navbar ul li a{
 
  min-width: 75px;
 

}

}


@media (max-height: 640px) {
  .content{
  
  margin-top: 15%;
}
}


